.bar {display: inline-block;
      width: 20px;
      background-color: teal;
  	  margin-right:1.5px;}

body {margin-right: auto 0;
	  margin-left: auto 0;} 
		
svg {padding-bottom: 50px;}


			
		
        .land {fill: #e2558b;}

        .boundary {fill: none;
           stroke: #fff;
           stroke-width: .5px;}

          