/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add Styles Here */

body {background-color: black;
	  width:100%;
	  background: url('images/homeback.jpg'),
	   			  url('images/fingersback.jpg'), 
	   			  url('images/storyback.jpg'), 
	   			  url('images/photosback.jpg');

	  background-repeat: no-repeat,
	  					 no-repeat,
	  					 no-repeat,
	  					 no-repeat;

	  background-position: 0px 0px,
	                       0px 1078px,
	                       0px 2157px,
	                       0px 3238px;}
header {width: 100%;}

h1 {padding-top:1.5%;
	margin-left:auto;
	margin-right:auto;
	width:20%;
	font-size: 4.718em;
	color:white;
	font-family: league-gothic, sans-serif;
	text-transform: uppercase;
	text-align: center;}

p {font-family: 'Raleway', sans-serif;
   font-size: 1.2em;
   color:white;}

 h2 {color: white;
	font-family: league-gothic, sans-serif;
	font-size: 2em;
    text-transform: uppercase;}

footer a {text-decoration: none;
		color:white;
		opacity: .75;}

h4 {font-size: .87em;
	color: white;
	font-family: 'Raleway', sans-serif;
	float: right;
	margin-right: 17%;}

#h1-l-finger {position: absolute;
			  left: 37.7%;
			  top:5%; }

#h1-r-finger {position: absolute;
			  left: 58%;
			  top:5%; }			  

#mainnav ul {margin-left: 5%;
			 margin-top:-5%;}

#mainnav a {text-decoration:none;
			font-family: league-gothic, sans-serif;
			color:white;
			font-size: 2em;
			text-transform: uppercase;
			text-align: center;
			padding-top:6%;
			padding-left:10%;}		

#mainnav a:hover {opacity: .6;
				  } 			

#mainnav li {float: left;
			padding-right: 4%;
			margin-left:5%; }

#homepage p {
	width:43%;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	padding-top:10%;}

#fingers {position: absolute;
		  top:1055px;
		  left:0px;}

#story {position: absolute;
		top:2200px;
		left:0px;}

#photos {position: absolute;
		top:3238px;
		left:0px;}

#photos h2 {margin-left: 15%; 
		   float: left;
		   font-size: 3em;
		   padding-top: 1.25%;
		   padding-bottom: 1.25%;}

#photos p {float: left;
		   margin-left: 4%;
           font-size: 1em;
           width: 28%;
           line-height: 1.16em;
           padding-top: 1.25%;
           padding-bottom: 1.25%;}

footer {position: absolute;
		top:4175px;
		left:0px;
		background-color: black;
		width:100%;}

footer a {font-family: 'Raleway', sans-serif;}	

#back-to-top {margin-right: auto;
			  margin-left:auto; }	

.finger-descript {color:black;}

#finger-container {width:80%;
				   margin-left: 15%;
				   float:left;}

#finger-overlay {background-color: white;
				 opacity: .55;
				 width: 100%;
				 height: 350px;
				 margin-top: 35%;
				 z-index: 0;}

#featured-fingers img {margin-top: 80%;}

#favorite-fingers img {margin-top: 80%; }

#fingers h3 {font-size:2.5em;
			 color:black;
			 font-family:league-gothic, sans-serif;
			 width:50%;
			 text-transform: uppercase; }

#fingers p {color:black;
			font-size: 1em;}

#featured-fingers {float:left;
				   width:35%;
			       margin-top: -15%;}

#favorite-fingers {float:left;
				   width:35%;
				   margin-top: -15%;}

#finger-container p {width:80%;}

#story-overlay {  height: 1012px;
				  width:569px;
				  background-color: white;
				  opacity: .75;
				  margin-left: 13%;
			  	  margin-top: -51.8%;
				  z-index: -1;}

#story-container div p 	{font-size: 1em;
						color:black;}

#photo-story {margin-left: 15%;
			  margin-top: 3%;}

#story img {margin-right: 1.5%;
			z-index: 2;}						

#story h2 {color:black;
		  margin-left:15%;
		  text-transform: uppercase;
		  font-size: 3em;}

#story p {width:20%;
		 margin-top: 4%;
		 margin-left: 17%;
		 font-size: 1em;
		 color: black;
		 line-height: 1.2em;
		 z-index: 1;}	 		

#photo-grid {width:125%;
			clear:both;}	

#photo-grid img {margin:-.1%;}	 							  		

#connect-icons {margin-left: 84%}		

#connect-icons li {-webkit-transform:scale(.75);
				float:left;}

#copyright {float:right;
			opacity: .4;
			font-size: .7em;
			margin-right: 3%;
			margin-bottom: .5%;}