/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add Styles Here */

body {width:900px;}

#main-page {margin-right:auto;
			margin-left:auto;
			background-color: black;
	  		width:900px;
	  		background: url('images/homeback.jpg'),
	   			  		url('images/fingersback.jpg'), 
	   			  		url('images/storyback.jpg'), 
	   			  		url('images/photosback.jpg');

	  background-repeat: no-repeat,
	  					 no-repeat,
	  					 no-repeat,
	  					 no-repeat;

	  background-position: 0px 0px,
	                       0px 1078px,
	                       0px 2157px,
	                       0px 3238px;}
header {width: 900px;
		position: relative;}

h1 {padding-top:20px;
	margin-left:auto;
	margin-right:auto;
	width:270px;
	font-size: 4.718em;
	color:white;
	font-family: league-gothic, sans-serif;
	text-transform: uppercase;
	text-align: center;}

p {font-family: 'Raleway', sans-serif;
   font-size: 1.2em;
   color:white;}
 
#fingers h2 {margin-top: -40px;}

 h2 {color: white;
	font-family: league-gothic, sans-serif;
	font-size: 2em;
    text-transform: uppercase;}

footer a {text-decoration: none;
		color:white;
		opacity: .75;}

h4 {font-size: .87em;
	color: white;
	font-family: 'Raleway', sans-serif;
	float: right;
	margin-right: 17%;}

#h1-l-finger {position: absolute;
			  left: 250px;
			  top:40px; }

#h1-r-finger {position: absolute;
			  left: 565.5px;
			  top:40px; }			  

#mainnav {width: 1000px;}

#mainnav ul {margin-top:-55px;}

#mainnav a {text-decoration:none;
			font-family: league-gothic, sans-serif;
			color:white;
			font-size: 2em;
			text-transform: uppercase;
			text-align: center;
			padding-top:6%;
			padding-left:10%;}		

#mainnav a:hover {opacity: .6;
				  } 			
#first-link {margin-left:-100px;}

#right-link {margin-left: 330px;}			

#mainnav li {float: left;
			margin-left:80px; }

#cart {font-family: 'roboto', sans-serif;
	   color: white;
	   font-size: 1.1em;
	   padding-left: 762px;
	   margin-top: -210px;}			


#homepage p {
	width:43%;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	padding-top:10%;}

#fingers {position: relative;
		  top:830px;
		  left:0px;
		  background-color: rgba(255,255,255,.85);
		  width: 220%;
		  height: 730px;
		  margin-left: -510px;}

#story {
	position: relative;
	top: 1045px;
	left: -30px;
	height: 1027px;
	width: 438px;
	background-color: rgba(255,255,255,.8);
	padding-left: 59px;
	padding-top: 1px;}


#photos {position: absolute;
		top:3238px;
		left:0px;}

#photos h2 {margin-left: 15%; 
		   float: left;
		   font-size: 3em;
		   padding-top: 1.25%;
		   padding-bottom: 1.25%;}

#photos p {float: left;
		   margin-left: 4%;
           font-size: 1em;
           width: 28%;
           line-height: 1.16em;
           padding-top: 1.25%;
           padding-bottom: 1.25%;}	

.finger-descript {color:black;}


#finger-container {
				 float:left;
				 margin-top: 65px;}


#featured-fingers img {margin-top: 7%;
					   padding-bottom: 10%;}

#favorite-fingers img {margin-top: 7%;
					   padding-bottom:10%; }

#fingers h3 {font-size:2.5em;
			 color:black;
			 font-family:league-gothic, sans-serif;
			 width: 80%;
			 margin-left: 5px;
			 float: left;
			 text-transform: uppercase; 
			 margin-top: 24%;
			 padding-bottom: 3%;}

#fingers p {color:black;
			font-size: 1em;}

#featured-fingers {float:left;
				   width:20%;
			       margin-top: -4%;
			   	   margin-left: 23%;}

#favorite-fingers {float:left;
				   width:20%;
				   margin-top: -4%;
				   margin-left: 7%;}			   
				   

#finger-container p {width:109%;}

.finger-counter {text-align: center;
				 font-family: 'Roboto', sans-serif;
				 font-weight: bold;
				 font-size: .75em;
				 color:black;
				 margin-top: -15px;
				 margin-bottom: 30px;}

#favorite-left {
border-radius: 100%;
width: 20px;
height: 20px;
margin-left: -350px;
margin-top: 394px;
float: left;
font-size: .75em;
background-color: #a7a7a7;
text-align: center;
}	

#favorite-left p {margin-top:2px;}

#favorite-right {
border-radius: 100%;
width: 20px;
height: 20px;
margin-top: 206px;
font-size: .75em;
float: right;
margin-right: -19px;
background-color: #a7a7a7;
text-align: center;
}

#favorite-right p {margin-top:2px;}

#feature-left {
	border-radius: 100%;
	width: 20px;
	height: 20px;
	margin-left: -354px;
	margin-top: 394px;
	float: left;
	font-size: .75em;
	background-color: #a7a7a7;
	text-align: center;}

	#feature-left p {margin-top:2px;}	

#feature-right {
	border-radius: 100%;
	width: 20px;
	height: 20px;
	margin-top: 206px;
	font-size: .75em;
	float: right;
	margin-right: -19px;
	background-color: #a7a7a7;
	text-align: center;}

	#feature-right p {margin-top:2px;}	


#story-container div p 	{font-size: 1em;
						color:black;}

#photo-story {margin-left: 15%;
			  margin-top: 3%;}

#story img {margin-right: 1.5%;}						

#story h2 {color:black;
		  margin-top: 24px;
		  margin-left:-1%;
		  padding-bottom: 10px;
		  text-transform: uppercase;
		  font-size: 3em;}

#story p {
		width: 95%;
		margin-top: 4%;
		margin-left: -2.5%;
		font-size: 1em;
		color: black;
		line-height: 1.25em;
}	 		

#photo-grid {width: 1900px;
			clear:both;}	

#photo-grid img {margin: -17px;
				 -webkit-transform: scale(0.885);}


footer {position: relative;
		top:1916px;
		background-color: black;
		margin-left: -503px;
		width:1920px;
		height:125px;}

footer h4 {margin-right:14%;
		   margin-top: -40px; }

footer a {font-family: 'Raleway', sans-serif;}	

footer h3 {font-size: 1.4em;
		   margin-left: 195px;
		   float:left;
		   color:white;
		   margin-top: 15px;
		   margin-right: 22px;}

#contact-info {
		padding-top: 15px;
		margin-left: 196px;
		font-size: .68em;}		   

.footer-bold {font-weight: bold;}

#back-to-top a {text-transform: none;
				font-size: .7em;}

#back-to-top img {float: left;
				  margin-top: -25px;
				  margin-left: 38px;}

#back-to-top {float:left;
			  margin-left: 615px; }	 							  		

#connect-icons {margin-left: 74%}		

#connect-icons li {margin-top:-20px;
				-webkit-transform:scale(.75);
				float:left;}

/*#contact-info p {margin-top: 20px;}*/

#copyright {float:right;
			opacity: .4;
			font-size: .7em;
			margin-top: 4px;
			margin-right: 263px;}


/*Detail Page CSS*/		


.overlay {position: fixed;
	width: 950px;
	height: 635px;
	margin-top: -2150px;
	margin-left:-50px;
	background-color: rgba(255,255,255,.98);
	padding: 50px 25px 0px 25px;}

#close-button {
			   position: absolute;
			   margin-left: 955px;
			   margin-top: -63px;
			   }	

.details h5 {font-family: 'Roboto', sans-serif;
			font-size: 1.7em;
			float:right;
			width:465px;
			padding-bottom: 20px;}	

h3 {
	font-size: 2.5em;
	color: black;
	font-family: league-gothic, sans-serif;
	text-transform: uppercase;
	float: right;
	padding-bottom: 30px;}	

.details h4 {
	font-family: 'Raleway' , sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	color: black;
	float: left;
	padding-bottom: 12.5px;}

.details h3 {width: 465px;}	

.detail-paragraph {
					float: right;
					font-size: 1em;
					color: black;
					width: 400px;
					padding-bottom: 30px;
					padding-right: 65px;}

#qty {
	padding-bottom: 15px;
	width: 400px;
	padding-right: 65px;
	float: right;}

#qty h4 {width: 465px;}


#qty p {float: left;
		color: black;
		margin-top: -3px;
		padding-left: 10px;
		padding-right: 10px;}

.qty-buttons {border-radius: 100%;
			  width:16px;
			  height: 16px;
			  float: left;
			  background-color:#a7a7a7;
			  text-align: center;}

#detail-sizes {
	clear: both;
	padding-bottom: 15px;
	width: 465px;
	float: right;
	padding-bottom:41px;}

#detail-sizes h4 {float: left;
	width: 465px;}

#detail-sizes a {text-decoration: none;
		  color:black;}

#detail-sizes a:hover {background-color: rgba(255,255,255,0.3);}		  		

.inch-boxes {
	text-align: center;
	width: 70px;
	height: 25px;
	margin-right: 5px;
	border: 2px solid #ababab;
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	font-weight: 300;}

#detail-upload {
	clear: both;
	float: right;
	width: 465px;
	padding-bottom:60px;}


#upload-button {float: left;
				width: 465px;}	     

#checkout { clear:both;
			float: right;
		   width: 465px;}

#detail-color {
	float: left;
	width: 230px;
	padding-left: 31px;
	margin-top: -50px;}

.details img {float: left;}

#detail-color h4 {width:340px;}

#detail-color div {width: 20px;
					height: 20px;
					border-radius: 50%;
					float: left;
					margin-right: 6px;
					margin-bottom: 4px;}
#color-black {
background-color: black;
margin-left: 2px;}

#color-blue {background-color: #002aff;}
#color-green {background-color:#15bd55;}
#color-salmon {background-color:#f44a46;}
#color-oj {background-color:#f0a31b;}
#color-yellow {background-color: #f1e84e;}
#color-purple {background-color: #6716ca;}
#color-pink {background-color: #e060b4;}
#color-gray {background-color: #a5a5a5;
			  margin-left: 2px;}
#color-blue2 {background-color:#6d87ba;}
#color-green2 {background-color:#6ee14f;}
#color-salmon2 {background-color:#dc2a2a;}
#color-oj2 {background-color:#fb691a;}
#color-yellow2 {background-color: #fbc91a;}
#color-purple2 {background-color: #b082c1;}
#color-pink2 {background-color: #ff24d3;}

#color-vpurp {background-color:#544a66; }
